blinker
Bootstrap-Flask
click
Flask
Flask-Login
Flask-SQLAlchemy
Flask-WTF
greenlet
itsdangerous
Jinja2
MarkupSafe
python-dotenv
PyYAML
SQLAlchemy
typing_extensions
Werkzeug
WTForms
email_validator
flask-mail
flask_cors
flask-restx